body{
    background-color: rgb(63, 63, 97);
    font-size:initial;
    text-align:initial;
}
h1{
    color: white;
    font-family: 'Lexend', sans-serif;
}
p{color: white;
    font-family: 'Lexend', sans-serif;
}
